$colors: (
    black: rgba(0, 0, 0, 1),
    bloody: rgba(201, 3, 3, 1),
    bloodyOpc: rgba(205, 0, 0, 0.1),
    hulk: rgba(71, 181, 71, 1),
    bee: rgba(250, 192, 58, 1),
    indygo: rgba(39, 123, 219, 1),
    greey_hulk: rgba(41, 44, 49, 1)
    );