@charset "UTF-8";
*{
    font-family: 'Arsenal', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Ubuntu', sans-serif;
        h1 {
        font-family: 'Oleo Script';
    }
}