$icons: (
html: url("../images/HTML5.png"),
css: url("../images/css3.png"),
javascript: url("../images/javascript.png"),
jquery: url("../images/jquery.png"),
js6: url("../images/js6.png"),
react: url("../images/react.png"),
rwd: url("../images/rwd.png"),
sass: url("../images/sass.png"),
git: url("../images/git.png"),
paseczki: url("../images/paseczki.png"),

stadion: url("../images/stadion.jpg"),
stundUp: url("../images/stundUp.jpg"),
szop: url("../images/szop.jpg"),
bungee: url("../images/bungee.jpg"),
golenie: url("../images/golenie.jpg"),
horizontal: url("../images/horizontal.jpg")
);