@import 'reset';
@import 'colors';
@import 'font-awesome';

// $phone: "(max-width: 767px)"; 
// $tablet: "(min-width: 768px) and (max-width: 1023px)"; 
// $desktop: "(min-width: 1024px)"; 

header {
    background-image: url("../images/horizontal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: map-get($colors, bee); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.spark {
    height: 300px;
    width: 300px;
    border: 4px solid;
    transform: rotate(45deg);
}

.opacity_spark {
    position: absolute;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    div{
        height: 40px;
        width: 200px;
        h1, p{ 
            text-align: center;
        }
    }
}

.section1 { 
    height: 100vh;
    width: 100%;
    color: map-get($colors, black);
    background-color: map-get($colors, bee);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .about_me_text{
        height: 75%;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            padding: 25px;
        }
        p {
            line-height: 25px;
            padding: 0 50px 0 0;
            text-align: center;
            span {
                font-weight: bold;                
            }
        } 
    }
    .about_me_photo{
        height: 100%; 
        width: 45%;
        background-image: url("../images/paseczki.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.section2 {
    height: 100vh;
    width: 100%;
    background-color: map-get($colors, greey_hulk);
    color: map-get($colors, bee);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    .hobby {
        width: 50%;
        padding: 0 0 0 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        height: 90%;
        h1 {
        text-align: center;
        padding: 0 0 100px 0;
        height: 10%;
        }
        p {
            padding: 0 0 30px 0;
            line-height: 25px;
        }
        
    }
    .gallery {
        height: 100%;
        width: 50%;
        // background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .photos {
            width: 80%;
            height: 70%;
            background-image: url("../images/bungee.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            div {
                margin: 20px;
            }
        }
    }
}
 
@media screen and (max-width: 767px) {
    header {
        color: map-get($colors, hulk);
        background-image: none;
        background-color: map-get($colors, bee);
    }
    .spark {
    height: 225px;
    width: 225px;
    }
}

// .row {
//   clear: both;
//   display: block;
//   content: "";
// }
