@import 'reset';
@import 'colors';
@import 'font-awesome';
@import 'images';

// $phone: "(max-width: 767px)"; 
// $tablet: "(min-width: 768px) and (max-width: 1023px)"; 
// $desktop: "(min-width: 1024px)"; 

header {
    background-image: map-get($icons, horizontal);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: map-get($colors, bee); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.spark {
    height: 300px;
    width: 300px;
    border: 4px solid;
    transform: rotate(45deg);
}

.opacity_spark {
    position: absolute;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    div{
        height: 40px;
        width: 200px;
        h1, p{ 
            text-align: center;
        }
    }
}

.section1 { 
    height: 100vh;
    width: 100%;
    color: map-get($colors, black);
    background-color: map-get($colors, bee);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .about_me_text{
        height: 75%;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            padding: 25px;
        }
        p {
            line-height: 25px;
            padding: 0 50px 0 0;
            text-align: center;
            span {
                font-weight: bold;                
            }
        } 
    }
    .about_me_photo{
        height: 100%; 
        width: 45%;
        background-image: map-get($icons, paseczki);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.section2 {
    height: 100vh;
    width: 100%;
    background-color: map-get($colors, greey_hulk);
    color: map-get($colors, bee);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    .hobby {
        width: 50%;
        padding: 0 0 0 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        height: 90%;
        h1 {
        text-align: center;
        padding: 0 0 100px 0;
        height: 10%;
        }
        p {
            padding: 0 0 30px 0;
            line-height: 25px;
        }
        
    }
    .gallery {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .photos {
            width: 80%;
            height: 70%;
            background-image: map-get($icons, bungee);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            div {
                margin: 20px;
            }
        }
    }
}

.section3 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, bee);
    color: map-get($colors, greey_hulk);
    .technology_div {
        padding: 0 0 100px 0;
        height: 10%;
    }
    .technology_logo{
        height: 40%;
        li {
            height: 120px;
            width: 120px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: 10px; 
        }
        .image1 {
            background-image: map-get($icons, html);    
        }
        .image2 {
            background-image: map-get($icons, css);
        }
        .image3 {
            background-image: map-get($icons, javascript);
        }
        .image4 {
            background-image: map-get($icons, jquery);
        }
        .image5 {
            background-image: map-get($icons, js6);
        }
        .image6 {
            background-image: map-get($icons, react);
        }
        .image7 {
            background-image: map-get($icons, rwd);
        }
        .image8 {
            background-image: map-get($icons, sass);
        }
        .image9 {
            background-image: map-get($icons, git);
        }
    }
}

.section4 {
    height: 60vh;
    background-color: map-get($colors, greey_hulk); 
    color: map-get($colors, bee);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .my_work {
        height: 10%;
    }
    .my_work_div {
        height: 70%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        .work1, .work2, .work3 {
            width: 300px;
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
        }
        .work1{
            background-image: map-get($icons, work);
        }
        .work2{
            background-image: map-get($icons, work);
        }
        .work3{
            background-image: map-get($icons, work);
        }
    }
}
 
.section5 {
    height: 80vh;
    background-color: map-get($colors, bee); 
    color: map-get($colors, greey_hulk);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container {
        width: 90%;
        height: 80%;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        .contact_foto {
            background-image: map-get($icons, stundUp);
            // border: 1px solid red;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 45%;
            height: 90%;
        }
        .contact_div {
            h1 {
                margin: 0 0 80px 0;
            }
            p{
                padding: 15px 0;
                color: black;
                a {
                text-decoration: none;
                color: black;                    
                }
            }
            width: 45%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    height: 20vh;
    background-color: map-get($colors, greey_hulk);
    color: map-get($colors, bee);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    .fafa_div {
        i {
            padding: 0 20px;
        }
    }
}

// @media screen and (max-width: 767px) {
//     header {
//         color: map-get($colors, hulk);
//         background-image: none;
//         background-color: map-get($colors, bee);
//     }
//     .spark {
//     height: 225px;
//     width: 225px;
//     }
// }

// .row {
//   clear: both;
//   display: block;
//   content: "";
// }
